@using BlazorPro.Spinkit

 <div class="columns is-centered mt-5">
    <div class="column is-narrow has-text-centered is-justify-content-center">
        <Title Text="Loading" />
        <Plane Color="hsl(48, 100%, 67%)" />
    </div>
 </div>
