@using FlightAppFrontend.Shared.Components
@using FlightAppFrontend.Shared.Auth
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject TokenService tokenService
@inject AuthenticationStateProvider customAuthenticationStateProvider


<div>
    <header>

        <NavMenu />
    </header>

    <div class="container hero is-fullheight pl-6 pr-6">

        <main class="body">

            <AuthorizeView>
                <Authorized>
                @Body
                </Authorized>
                <NotAuthorized>
                    <p>Unauthorized</p>
                </NotAuthorized>
            </AuthorizeView>
            

            
     
        </main>

        <footer class="mt-auto is-flex-align-items-flex-end">
            <p>&#169 dirigible 2025</p>
        </footer>
    </div>
</div>



<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool isLoaded = false;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private AuthenticationState? _authState;

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {
        if (firstRender)
        {
           
            var token = await tokenService.LoadTokenAsync();
            if(token!=null)
            {
                if (customAuthenticationStateProvider is CustomAuthenticationStateProvider customProvider)
                {
                    customProvider.NotifyAuthenticationStateChanged();
                    isLoaded = true;
                    StateHasChanged();
                }
                _authState = await authenticationStateTask;
         }
         else{
                Console.WriteLine("Token is null");
         }
        }
    }
}