@using FlightAppFrontend.Shared.Components
@inherits LayoutComponentBase

<div>
    <header>
        
        <NavMenu />
    </header>
        
    <div class="container hero is-fullheight pl-6 pr-6">

        <main class="body">
            @Body
        </main>

        <footer class="mt-auto is-flex-align-items-flex-end">
            <p>&#169 dirigible 2025</p>
        </footer>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
