@using FlightAppFrontend.Shared.Components
@using FlightAppFrontend.Shared.Auth
@using FlightAppFrontend.Shared.Components.Utility
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject TokenService tokenService
@* @inject TokenStateService tokenStateService *@
@inject AuthenticationStateProvider customAuthenticationStateProvider

<div>
    <header>
        <NavMenu />
    </header>
    <div class="container hero is-fullheight pl-6 pr-6">
        <main class="body has-text-light">
                @Body
        </main>
        <footer class="mt-3 is-flex-align-items-flex-end">
            <p class="has-text-light">&#169 dirigible 2025</p>
        </footer>
    </div>
</div>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    private AuthenticationState _authState { get; set; }
  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {       
        if (firstRender)
        {
            var token = await tokenService.LoadTokenAsync();
            _authState = await authenticationStateTask;
            if (token != null)
            {
                if (customAuthenticationStateProvider is CustomAuthenticationStateProvider customProvider)
                {
                    customProvider.NotifyAuthenticationStateChanged();
                }
            }
        }
    }   
}