@inherits LayoutComponentBase

<div>
    
        <header>
            <NavMenu />
        </header>
        
    
    <main>

            @Body
    </main>
    <footer>
        <p>&#169 dirigible 2025</p>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
