@using FlightAppFrontend.Shared.Auth
@using FlightAppFrontend.Shared.Components
@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppFrontend.Shared.Extensions
@using FlightAppFrontend.Shared.Services
@using FlightAppLibrary.Models.Dtos
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject IJsInteropService JsInteropService

@if (ErrorMessage != null)
{
    <ErrorMessage Message="@ErrorMessage" OnDeleteNotification="ResetError" />
}
else if (@User == null)
{
    <Loading />
}
else
{
    <PageTitle>Dashboard</PageTitle>

    <div class="container mt-6">
        @if (Login)
        {
            <TitleSuccess Text="Welcome Back!" />
        }
        else if (Updated)
        {
            <TitleSuccess Text="Updated Successfully!" />
        }
        else if (Editing)
        {
            <Title Text="Edit Details" />
        }
        else if (UpdatingPassword)
        {
            <Title Text="Enter New Password" />
        }
        else if (PasswordUpdated)
        {
            <TitleSuccess Text="Password Updated" />
        }
        else
        {
            <Title Text="Welcome Back!" />
        }

        <div class="columns">
            <div class="column is-half">
                @if (Editing)
                {
                    <EditUserInfoForm AuthState="@_authState" AppUser="User" OnCancel="ToggleEditing" OnUpdate="SetUpdated" />
                }
                else if (UpdatingPassword)
                {
                    <UpdatePassword OnCancel="ToggleUpdatingPassword" OnUpdate="SetPasswordUpdated" />
                }
                else
                {
                    <DashboardProfileCard AuthState="_authState" AppUser="User" OnEdit="ToggleEditing" OnChangePassword="ToggleUpdatingPassword" />
                }
            </div>
        </div>
    </div>
}


@code {


    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private AuthenticationState? _authState;
    private bool isAdmin = false;

    private string email = "";

    private UserDTO User { get; set; } = new UserDTO();

    private string? ErrorMessage;
    [SupplyParameterFromQuery(Name = "login")]
    public bool Login { get; set; }

    private bool Updated;

    private bool Editing;

    private bool UpdatingPassword;

    private bool PasswordUpdated;


    protected void ResetError()
    {
        ErrorMessage = "";
    }
    public async Task GetUser(){
        try
        {
           
                var client = ClientFactory.CreateClient("DirigibleApi");
                var response = await client.GetValueAsync<UserDTO>($"Account/GetUserDetailsByEmail?email={email}");
                User = response.Value!;
           
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
    public void SetUpdated()
    {
        Updated = true;
        Editing = false;
    }

    public void SetPasswordUpdated()
    {
        PasswordUpdated = true;
        UpdatingPassword = false;
    }

    public void ToggleEditing()
    {
        Login = false;
        UpdatingPassword = false;
        Editing = !Editing;
        if (Editing) Updated = false;
    }

    public void ToggleUpdatingPassword()
    {
        Login = false;
        Editing = false;
        UpdatingPassword = !UpdatingPassword;
        if (UpdatingPassword) PasswordUpdated = false;
    }

}