@page "/about"
@using FlightAppFrontend.Shared.Components
@using FlightAppFrontend.Shared.Components.Utility

<PageTitle>About</PageTitle>

<div class="column mt-6">
        <AboutContent/>
</div>

@code {

}
