@page "/Admin"
@using FlightAppFrontend.Shared.Components.Loaders
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization


<AuthorizeView>
    <Authorized>
        <AdminLoader />
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView> 