@page "/dashboard"
@using FlightAppFrontend.Shared.Components.Loaders
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <PageTitle>Dashboard</PageTitle>
        <DashboardLoader />
    </Authorized>
    <NotAuthorized>
        <PageTitle>Unauthorized</PageTitle>
        <p>You are not authorized to view this page.</p>
    </NotAuthorized>
</AuthorizeView>