@page "/dashboard"
@using FlightAppFrontend.Shared.Auth
@using FlightAppFrontend.Shared.Components
@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppFrontend.Shared.Extensions
@using FlightAppLibrary.Models.Dtos
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

@inject IHttpClientFactory ClientFactory

<PageTitle>Dashboard</PageTitle>

<div class="container mt-6">
    @if(Login){
        <TitleSuccess Text="Welcome Back!" />
    }
    else{
        <Title Text="Welcome Back!" />
    }
    
    <div class="columns">
        <div class="column is-half">
            <DashboardProfileCard AuthState="_authState" AppUser="User" />
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromQuery(Name = "login")]
    public bool Login { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    private AuthenticationState _authState;

    private string email = "";
    private UserDTO User { get; set; } = new UserDTO();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("DirigibleApi");
            var response = await client.GetValueAsync<UserDTO>("Account/GetUserDetails");
            User = response.Value;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _authState = await AuthenticationStateTask;
            if (_authState != null && _authState.User.Identity.IsAuthenticated)
            {
                email = _authState.User.Identity.Name;
                StateHasChanged();
            }
            else
            {
                NavigationManager.NavigateTo("/login");
            }
        }
    }
}
