@page "/"
@using FlightAppFrontend.Shared.Auth
@using FlightAppFrontend.Shared.Layout
@using FlightAppFrontend.Shared.Services
@using FlightAppFrontend.Shared.Components
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<div class="column mt-6">
    <div class="column is-half is-offset-one-quarter has-text-white">
        <image src="_content/FlightAppFrontend.Shared/Images/dirigible-home.png" alt="dirigible-logo" />
        <p class="subtitle has-text-centered is-size-3 mt-3"><strong>Connecting</strong> Flights</p>
    </div>
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
