@using FlightAppFrontend.Shared.Components.Utility



<div class="column is-one-third pl-0">
    <image src="_content/FlightAppFrontend.Shared/Images/dirigible-home.png" alt="dirigible-logo" />
    <p class="subtitle has-text-centered is-size-3 mt-3 mb-5"><strong>Connecting</strong> Flights</p>
</div>


<div class="content is-medium">
    <Title text="Dirigible"/>
    <p class="has-text-light">
        Dirigible is a social flight-data platform. It’s a single destination to search for and retrieve flight information, including departure and arrival times, current location, weather at both the origin and destination, and details about delays.
    </p>
    <p class ="has-text-light">
        Currently, users can search by route, origin and departure airport, flight number (IATA), and incident status.
        Dirigible provides details about the aircraft, including its registration and photos, eliminating the need to visit multiple websites to access this information.
    </p>
    <p class="has-text-light">
        In addition to searching for flights, users can comment and reply to one another, sharing real-time thoughts on their journeys. As users interact with the platform, they can build status within the Dirigible community, earning cool badges along the way.
    </p>

    <h2 class="mt-6 mb-6 has-text-light">To get started:</h2>
    <a class="button is-warning is-large" href="/registration">
        <span class="icon">
            <i class="fa fa-user" aria-hidden="true"></i>
        </span>
        <span>Create an account</span>
    </a>
    <h2 class="mt-6 mb-6 has-text-light">Once you've made an account:</h2>
    <a class="button is-warning is-large" href="/search">
        <span class="icon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <span>Search for a flight</span>
    </a>
    <div>
        <h4 class="mt-6 mb-3 has-text-light">Get the app:</h4>
        <div class="field is-grouped">
            <button class="button is-primary is-outlined">
                <span class="icon">
                    <i class="fab fa-android" aria-hidden="true"></i>
                </span>
                <span>android</span>
            </button>
            <button class="button is-info is-outlined">
                <span class="icon">
                    <i class="fab fa-apple" aria-hidden="true"></i>
                </span>
                <span>iPhone</span>
            </button>
        </div>
    </div>
</div>

@code {

}
