@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppLibrary.Models.AircraftPhoto
@using FlightAppLibrary.Models.Response

<div class="mt-6">
    <div>
        @if (FlightResponses is null || FlightResponses!.Count <= 0)
        {
            <Title Text="No Flights Found" />
        }
        else 
        {
            <Title Text="Results:" />
            <Virtualize Items="@FlightResponses" Context="response">
                <FlightResultCard FlightResponse="response" />
            </Virtualize> 
        }
    </div>
</div>

@code
{
    [Parameter] public List<FlightResponse>? FlightResponses { get; set; }
}