@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppLibrary.Models.AircraftPhoto
@using FlightAppLibrary.Models.Response

<div class="mt-6">
    <Title Text="Results:"/>
    <div class="columns">
        <div class="column is-half">
            @foreach (var response in @FlightResponses!)
            {
                @if(response.Flight.Codeshared is null && !string.IsNullOrEmpty(response.Flight.Iata))
                {
                    <FlightResultCard FlightResponse="response" />
                }
            }
        </div>
    </div>
</div>

@code{
    [Parameter]
    public List<FlightResponse>? FlightResponses { get; set; }

}