@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppLibrary.Models.AircraftPhoto
@using FlightAppLibrary.Models.Response

<div class="mt-6">
    <Title Text="Results:"/>
    <div class="columns">
        <div class="column is-half">
            @foreach (var response in @FlightResponses!)
            {
                <FlightResultCard FlightResponse="response" />
            }
        </div>
    </div>
</div>

@code{
    [Parameter]
    public List<FlightResponse>? FlightResponses { get; set;}

}