@using FlightAppLibrary.Models.Response

﻿<a href="/FlightSummary/@FlightResponse.Flight.Iata">
    <div class="card mb-5 pb-4">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96 is-square">
                        <img src=@ImageUrl;
                        alt="Placeholder image" />
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">@FlightResponse!.Airline.Name @FlightResponse!.Flight.Iata</p>
                    <p class="subtitle is-6">@FlightResponse!.Departure.Airport (@FlightResponse!.Departure.Iata) to @FlightResponse!.Arrival.Airport (@FlightResponse!.Arrival.Iata)</p>
                    @if (@FlightResponse.Departure.Scheduled is DateTime dateTime)
                    {
                        <p class="subtitle is-6">@dateTime.ToString("HH:mm dd/MM/yyyy") </p>
                    }
                </div>
            </div>
        </div>
    </div>
</a>

@code{
    [Parameter]
    public FlightResponse? FlightResponse { get; set; }

    protected string? Path { get; set; }

    protected string ImageUrl;

    protected override void OnInitialized()
    {
        Path = $"/FlightSummary/{FlightResponse!.Flight.Iata}";

        ImageUrl = $"https://content.airhex.com/content/logos/airlines_{FlightResponse.Airline.Iata}_96_96_s.png";
    }
}