@using System.ComponentModel.DataAnnotations
@using FlightAppFrontend.Shared.Auth
@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppFrontend.Shared.Services
@using FlightAppLibrary.Models.Dtos
@using System.Text.Json
@using System.Text
@using Microsoft.AspNetCore.Components.Authorization
@inject IHttpClientFactory DirigibleApi
@inject IJsInteropService JsInteropService
@inject AuthenticationStateProvider customAuthenticationStateProvider
@inject TokenStateService tokenStateService
@inject NavigationManager NavigationManager;
<div class="container">
    <div class="columns is-centered">
        <div class="column is-one-third is-offset-one-third">

            ﻿<Title Text="Login"/>

            <EditForm FormName="loginForm" Model="LoginModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" aria-label="Login Form">
                <DataAnnotationsValidator />

                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control mt-2">
                        <InputText id="email" class="input is-warning" @bind-Value="LoginModel.UserName" placeholder="Email" />
                        <ValidationMessage class="help is-danger" For="@(() => LoginModel.UserName)" />
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control mt-2">
                        <InputText type="password" id="password" class="input is-warning" @bind-Value="LoginModel.Password" placeholder="Password" />
                        <ValidationMessage class="help is-danger" For="@(() => LoginModel!.Password)" />
                    </div>
                </div>

                <MainButton Text="Login"/>
            </EditForm>
            <div class="mt-2">
                <a class="has-text-white is-underlined" href="/Registration">Register</a>
            </div>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            <p>@($"You are logged in {name}!")</p>
        </Authorized>
        <NotAuthorized>
            <p>You are not logged in.</p>
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {

    private SignInRequestDTO LoginModel = new SignInRequestDTO();
    private string firstName ="";
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string name = "";

    private AuthenticationState _authState;
    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            var authState = await authenticationStateTask;
            if (authState != null && authState.User.Identity.IsAuthenticated)
            {
                //name = authState.User.Identity.Name;
                //name = authState.User.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value;
                


                StateHasChanged();
            }
                
            else
            {
                Console.WriteLine("User is not authenticated");
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        var client = DirigibleApi.CreateClient("DirigibleApi");
        var content = new StringContent(JsonSerializer.Serialize(LoginModel), Encoding.UTF8, "application/json");
        var result = await client.PostAsync("Account/SignIn", content);
        if(result.IsSuccessStatusCode){
            var data = await result.Content.ReadAsStringAsync();
            var deserializedData = JsonSerializer.Deserialize<SignInResponseDTO>(data);
            var token = deserializedData?.Token;
            if(token!=null){
                await JsInteropService.SetItem("jwtToken", token);
                if (customAuthenticationStateProvider is CustomAuthenticationStateProvider customProvider)
                {
                    tokenStateService.SetToken(token);
                    customProvider.NotifyAuthenticationStateChanged();
                }
                JsInteropService.CreateAlert("Login successful");
                NavigationManager.NavigateTo("/dashboard?login=true");
            }
            else{
                JsInteropService.CreateAlert("Login failed");
            }
            
        }
        else{
            JsInteropService.CreateAlert("Login failed");
        }

    }
    private void HandleInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }

}
