@using System.ComponentModel.DataAnnotations

<div class="container">
    <div class="columns is-centered">
        <div class="column is-one-third is-offset-one-third">

            ﻿<h1 class="title is-size-2 mt-3 mb-5">Login</h1>

            <EditForm FormName="loginForm" Model="userLoginModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" aria-label="Login Form">
                <DataAnnotationsValidator />

                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control mt-2">
                        <InputText id="email" class="input is-warning" @bind-Value="userLoginModel.Email" placeholder="Email" />
                        <ValidationMessage class="help is-danger" For="@(() => userLoginModel!.Email)" />
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control mt-2">
                        <InputText type="password" id="password" class="input is-warning" @bind-Value="userLoginModel.Password" placeholder="Password" />
                        <ValidationMessage class="help is-danger" For="@(() => userLoginModel!.Password)" />
                    </div>
                </div>

                <button type="submit" class="button is-warning mt-2">Login</button>
            </EditForm>
            <div class="mt-2">
                <a class="has-text-white is-underlined" href="#">Register</a>
            </div>
        </div>
    </div>
</div>


@code {
    private string? Email { get; set; }
    private string? Password { get; set; }
    private UserLoginModel userLoginModel = new UserLoginModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
    private void HandleInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }
    public class UserLoginModel
    {
        [Required(ErrorMessage = "Please enter username")]
        public string Email { get; set; }
        [Required(ErrorMessage = "Please enter password")]
        public string Password { get; set; }
    }

}
