@using System.ComponentModel.DataAnnotations
@using FlightAppFrontend.Shared.Components.Utility

<div class="container">
    <div class="columns is-centered">
        <div class="column is-one-third is-offset-one-third">

            ﻿<Title Text="Login"/>

            <EditForm FormName="loginForm" Model="LoginModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" aria-label="Login Form">
                <DataAnnotationsValidator />

                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control mt-2">
                        <InputText id="email" class="input is-warning" @bind-Value="LoginModel.Email" placeholder="Email" />
                        <ValidationMessage class="help is-danger" For="@(() => LoginModel!.Email)" />
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control mt-2">
                        <InputText type="password" id="password" class="input is-warning" @bind-Value="LoginModel.Password" placeholder="Password" />
                        <ValidationMessage class="help is-danger" For="@(() => LoginModel!.Password)" />
                    </div>
                </div>

                <MainButton Text="Login"/>
            </EditForm>
            <div class="mt-2">
                <a class="has-text-white is-underlined" href="/Registration">Register</a>
            </div>
        </div>
    </div>
</div>


@code {
    private string? Email { get; set; }
    private string? Password { get; set; }
    private UserLoginModel LoginModel = new UserLoginModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
    private void HandleInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }
    public class UserLoginModel
    {
        [Required(ErrorMessage = "Please enter an email")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Please enter a password")]
        public string Password { get; set; }
    }

}
