@using FlightAppLibrary.Models.Response

<div class="card mb-5 pb-4 mt-5">
    <div class="card-image is-relative has-text-centered">
        <figure class="iamge is-4by3 in-line-block" id="aircraftPhoto" name="aircraftPhoto">
            <img width="400" height="300" object-fit="contain" allowfullscreen="" src="@MapUri" alt="a map with a pin showing the current location of the aircraft" />
        </figure>
    </div>
    <div class="card-content">
        <p class="title is-4">Flight location</p>
        <p class="is-6">Latitude: @FlightResponse.Live.Latitude</p>
        <p class="is-6">Longitude: @FlightResponse.Live.Longitude</p>
    </div>
</div>

@code {
    [Parameter]
    public FlightResponse? FlightResponse { get; set; }

    [Parameter]
    public string MapUri { get; set; }
}
