@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppLibrary.Models.Dtos

<div class="container mt-6">
    <div class="columns">
        <div class="column is-half">
            <ProfileCard User="User"/>
        </div>
        <div class="column">
            <ProfilePanel />
        </div>
    </div>
</div>

@code{
    [Parameter]
    public UserDTO? User { get; set; }

   
}