@using System.ComponentModel.DataAnnotations

<div class="container">
    <div class="columns is-centered">
        <div class="column is-one-third is-offset-one-third">

            ﻿<h1 class="title is-size-2 mt-3 mb-5">Register</h1>

            <EditForm FormName="loginForm" Model="RegistrationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" aria-label="Registration Form">
                <DataAnnotationsValidator />

                <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control mt-2">
                        <InputText id="email" class="input is-warning" @bind-Value="RegistrationModel.Email" placeholder="Email" />
                        <ValidationMessage class="help is-danger" For="@(() => RegistrationModel!.Email)" />
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control mt-2">
                        <InputText type="password" id="password" class="input is-warning" @bind-Value="RegistrationModel.Password" placeholder="Password" />
                        <ValidationMessage class="help is-danger" For="@(() => RegistrationModel!.Password)" />
                    </div>
                </div>

                <div class="field">
                    <label for="confirmPassword" class="label">Confirm Password</label>
                    <div class="control mt-2">
                        <InputText type="confirmPassword" id="password" class="input is-warning" @bind-Value="RegistrationModel.ConfirmPassword" placeholder="Confirm Password" />
                        <ValidationMessage class="help is-danger" For="@(() => RegistrationModel!.Password)" />
                    </div>
                </div>

                <button type="submit" class="button is-warning mt-2">Register</button>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private string? Email { get; set; }
    private string? Password { get; set; }
    private string? ConfirmPassword { get; set; }
    private UserRegistrationModel RegistrationModel = new UserRegistrationModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
    private void HandleInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }
    public class UserRegistrationModel
    {
        [Required(ErrorMessage = "Please enter username")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Please enter password")]
        public string Password { get; set; }

        [Required(ErrorMessage = "Please confirm password")]
        public string ConfirmPassword { get; set; }
    }

}
