@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@using FlightAppFrontend.Shared.Components.Utility
@using FlightAppLibrary.Models


<div class="container">
    <div class="columns is-centered">
        <div class="column is-one-third is-offset-one-third">

            <Title Text="Search For a Flight"/>

            <EditForm FormName="SearchForm" Model="@SearchModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" aria-label="Search Form">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="field">
                    <label for="iata" class="form-label">Flight Number</label>
                    <div class="control mt-2">
                        <InputText id="iata" class="input is-warning" @bind-Value="SearchModel!.FlightIATA" placeholder="Flight Number" />
                    </div>
                </div>

                <div class="field">
                    <label for="departure" class="form-label">Departure IATA</label>
                    <div class="control mt-2">
                        <InputText id="departure" class="input is-warning" @bind-Value="SearchModel!.DepartureIATA" placeholder="Departure IATA" />
                    </div>
                </div>

                <div>
                    <label for="arrival" class="form-label">Arrival IATA</label>
                    <div class="control mt-2">
                        <InputText id="arrival" class="input is-warning" @bind-Value="SearchModel!.ArrivalIATA" placeholder="Arrival IATA" />
                    </div>
                </div>

                <MainButton Text="Submit"/>
            </EditForm>
        </div>
    </div>
</div>

@code{
    public SearchModel SearchModel = new();


    private void HandleInvalidSubmit()
    {
        Console.WriteLine("OnInvalidSubmit");
    }

    protected void HandleValidSubmit()
    {
        NavigationManager.NavigateTo($"Results?departure={SearchModel!.DepartureIATA}&arrival={SearchModel!.ArrivalIATA}");
    }
}